body {
  width: 850px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  background-image: url(../images/home2.jpg);
  color: white;
}

h1 {
  font-size: 2.75em;
}

.footer {
  font-size: .8em;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
  position: fixed;
  bottom: 0%;
  left: 0%;
}

.text-center {
  text-align: center;
}

.zipcode {
  display: block;
  height: 40px;
  width: 120px;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
  background: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
}

#logo {
  height: 200px;
  margin: auto;
  display: block;
  padding-top: 40px;
}

hr {
	border-top: .2px solid #fff;
  margin-top: 20px;
}

#padding-block-150 {
  height: 150px;
}

#padding-block-50 {
  height: 50px;
}

#volume-elements {
  display: block;
  margin: auto;
}

button {
  background: transparent;
  border: 1px transparent;
  outline: none;
  color: white;
}

a.big-button {
  background: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
}

i.fa {
  color: white;
  font-size: 2.6em;
}

.big-button {
  display: block;
  height: 30px;
  width: 220px;
  margin: auto;
  font-size: 1.5em;
  /*font-weight: bold;*/
  text-align: center;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}

table {
  width: 100%;
}

table > tr {
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
}


td:hover {
    cursor: pointer;
}

tr {
  border: solid;
  border-width: 1px 0;
  border-color: grey;
}

th {
  text-align: left;
  padding-bottom: 5px;
}

td {
  padding: 10px;
  padding-right: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}
