body {
  width: 850px;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  background-image: url(../images/home2.jpg);
  color: white;
}

.footer {
  font-size: .8em;
  position: fixed;
  bottom: 0px;
  left: 35%;
}
.text-center {
  text-align: center;
}

.zipcode {
  display: block;
  height: 40px;
  width: 120px;
  margin: auto;
  font-size: 1.5em;
  text-align: center;
  background: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
}

#logo {
  height: 80px;
  margin: auto;
  display: block;
}

hr {
	border-top: .2px solid #fff;
  margin-top: 20px;
}

#home-padding {
  height: 150px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #fff;
}

table {
  width: 100%;
}

table > tr {
  border-collapse: collapse;
  display: flex;
  flex-direction: column;
}


td:hover {
    cursor: pointer;
}

tr {
  border: solid;
  border-width: 1px 0;
  border-color: grey;
}

th {
  text-align: left;
  padding-bottom: 5px;
}

td {
  padding: 10px;
  padding-right: 25px;
}

a {
  text-decoration: none;
  color: inherit;
}
