doctype html
html(lang='en')
  
  head
    block head
      meta(charset='utf-8')
      title weatherMix
      meta(name='description', content='weatherMix')
      meta(name='author', content='webMusic DevTeam LUC CS424')

      link(href='bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
      link(href='assets/styles/styles.css?v=1.0', rel='stylesheet', type='text/css')

  body
    block body

      footer
        p.footer.text-center Copyright 2017 Carter Konz, Nieky Allen, Jesse Meza, Zvonko Kavelij

      script(src='assets/scripts/global.js')
      script(src='assets/scripts/appid.js')
    
